code {
    font-family: monospace;
    font-size: 14px;
  }

  .paperCode {
      width: 100%
  }

  .preMargin {
      padding-right: 10%;
      padding-left: 10%;
      padding-top: 24px;
      padding-bottom: 24px;
  }
  
  .newLine {
    padding-bottom: 20px;
  }
  
  