body {
  overflow: hidden;
}
a:link {
  text-decoration: none;
  color: #2d4d9d;
}
a:visited {
  text-decoration: none;
  color: #2d4d9d;
}
.functionName {
  color: #2d4d9d;
}

pre::first-line {
  line-height: 0;
}
